.App {
  text-align: center;
}

body{
  font-family: 'Archivo', sans-serif;
}


.blogDetails h1{
  font-size: 2rem;
}


.blogDetails ul{
  list-style-type: disc;
  padding: 0.5rem 2rem;
}

.blogDetails a{
  color: rgb(30, 30, 217);
  display: inline-block;
  text-decoration: underline;
}

code{
  display: inline-block;
}